---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import LogoCloud from "../components/LogoCloud.astro";
import Services from "../components/Services.astro";
import Showcase from "../components/Showcase.astro";
import Process from "../components/Process.astro";
import Stats from "../components/Stats.astro";
import Testimonial from "../components/Testimonial.astro";
import FAQ from "../components/FAQ.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main id="main">
    <Hero />
    <LogoCloud />
    <Services />
    <Showcase />
    <Process />
    <Stats />
    <Testimonial />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</Layout>
